<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPedidoMtto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51486/svcPedidoMtto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoMtto"
                contract="refSvcPedidoMtto.IPedidoMtto" name="BasicHttpBinding_IPedidoMtto" />
        </client>
    </system.serviceModel>
</configuration>